body {
    margin: 0;
    background: black;
}

.radius {
    border-radius: 7px;
}

span {
    font-size: 17px;
}

.bold {
    font-weight: bold !important;
}

div .row {
    font-size: 17px;
}

.lowercase {
    text-transform: lowercase !important;
}